@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
    margin-top: 41px;
  }

  #right {
    width: 7%;
    right: 0;
  }
}

@media (max-height: 768px) {
  .navbar {
    display: inline-block;
  }
}

@media (max-height: 700px) {
  #right {
    right: -83px;
    width: 16%;
  }
}

html {
  height: 100%;
}

body {
  background-image: url('../images/bg4.gif');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #4ddeb5;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: monospace;
  overflow-x: hidden;
}

blockquote {
  background: #c774e8;
  background: -moz-linear-gradient(top, rgba(56, 56, 56, 0.5) 0%, rgb(255, 255, 255) 50%, rgba(135, 149, 232, 1) 100%);
  background: -webkit-linear-gradient(top, rgb(123, 123, 123) 0%, rgb(162, 162, 162) 50%, rgba(135, 149, 232, 1) 100%);
  background: linear-gradient(to bottom, rgba(199, 116, 232, 0.5) 0%, rgba(0, 133, 235, 0.5) 50%, rgba(255, 141, 232, 0.863) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c774e8', endColorstr='#8795e8', GradientType=0);
  text-align: left;
  width: 63vw;
  margin-left: auto;
  margin-right: auto;
}

#ytiframe {
  width: 63vw;
  height: 390px;
  z-index: 2;
}

.navbar {
  z-index: 5;
  margin-bottom: 0px;
  position: relative;
}

.navbar-brand {
  color: #fff;
}

.navbar-brand:hover {
  color: #000;
  text-shadow: #000 0px 0px 1px;
}

.navbar-brand:active {
  color: #f7f7f7;
}

#footertext {
  margin: 0 0 0 15px;
}

#footertext a {
  color: #fff;
  border-bottom: 1px dotted #fff;
  text-decoration: none;
}

#footertext a:hover {
  border-bottom: none;
}

#iconsf,
#footertext,
footer nav {
  display: inline-block;
  vertical-align: middle;
}

#iconsf {
  border: 0;
  left: 0;
  right: 0;
  position: relative;
  font-size: 30px;
}

#iconsf a {
  text-align: center;
  line-height: 2em;
  text-decoration: none;
}

#iconsf p {
  font-size: 16px;
}

#iconsf p span a:nth-last-child(-n+2) {
  border-bottom: 1px dotted #fff;
}

.ricons {
  color: #fff;
}

.ricons:hover {
  color: #000;
  text-shadow: #000 0px 0px 1px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#right {
  position: absolute;
  bottom: -1px;
}

.panel {
  background: #c774e8;
  background: -moz-linear-gradient(top, rgba(199, 116, 232, 0.5) 0%, rgba(173, 140, 255, 1) 50%, rgba(135, 149, 232, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(199, 116, 232, 1) 0%, rgba(173, 140, 255, 1) 50%, rgba(135, 149, 232, 1) 100%);
  background: linear-gradient(to bottom, rgba(199, 116, 232, 0.75) 0%, rgba(173, 140, 255, 0.75) 50%, rgba(135, 149, 232, 0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c774e8', endColorstr='#8795e8', GradientType=0);
  margin-top: 7px;
  padding: 0px 26px;
  text-align: justify;
  position: relative;
  top: 50%;
}

.panel h2 {
  text-align: center;
}

.gridimages {
  width: 50%;
  height: 50%;
}

.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.transparent-circle {
  background-color: rgba(204, 0, 102, 0);
  border-width: 3px;
  border-style: solid;
  background: linear-gradient(to bottom, rgba(199, 116, 232, 0.75) 0%, rgba(173, 140, 255, 0.75) 50%, rgba(135, 149, 232, 0.75) 100%);
  height: 200px;
  width: 200px;
  -webkit-border-radius: 116px;
  -moz-border-radius: 116px;
  padding: 15px 15px;
}

.col-md-6 a {
  color: #fff;
  text-decoration: none;
}

.col-md-6 a:hover {
  color: #000;
  text-shadow: #000 0px 0px 1px;
}

.col-md-6 a p {
  margin-top: 8px;
}

.col-md-6:nth-last-child(-n+2) {
  margin-top: 2%;
}